{% extends 'info/base.html' %}
{% load staticfiles %}

{% block title %}About me{% endblock %}

{% block side-info %}
<div id="about-bulva" class="col-sm-12">
    <img src="{% static 'info/images/profile_photo.png' %}" alt="My profile photo" style="width: 140px;">
    <h5>Petr Šilhák</h5>
    <a href=""><img src="{% static 'info/images/icons/mail.svg' %}" alt="Mail icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/linkedin.svg' %}" alt="LinkedIn icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/github.svg' %}" alt="GitHub icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/stackoverflow.svg' %}" alt="Stackoverflow icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/skype.svg' %}" alt="Skype icon" class="icon" /></a>
</div>
<div id="quote" class="col-sm-12">
    <p class="quote">“Always code as if the guy who ends up <br />
    maintaining your code will be <br />
    a violent psychopath<br /> who knows where you live”<br /></p>
    <p class="quote-author">John F. Woods</p>
</div>
{% endblock %}

{% block content %}
    <h2>Vzdělání</h2>
    2017 – současnost<br />
    <b>Masarykova univerzita, Přírodovědecká fakulta</b><br />
    <p>Doktorské studium, obor <i>Kartografie a dálkový průzkum Země</i></p>

    2015 – 2017<br />
    <b>Masarykova univerzita, Přírodovědecká fakulta</b><br />
    <p>2leté navazující magisterské studium, obor <i>Geografická kartografie a geoinformatika</i></p>
    <p>Získaný titul Mgr. za obhájení práce<br /><i><a href="https://petrsilhak.eu/login/">Kolaborativní a korekční systém pro mobilní sběr biogeografických dat</a></i></p>

    2012 – 2015<br />
    <b>Masarykova univerzita, Přírodovědecká fakulta</b><br />
    3leté bakalářské studium, obor <i>Aplikovaná geografie a geoinformatika</i><br />
    <p>Získaný titul Bc. za obhájení práce <i>Mobilní GIS sběru biogeografických dat</i></p>

    2008 – 2012<br />
    <b>Gymnázium Zlín Lesní čtvrť</b><br />
    <i>Zakončeno maturitní zkouškou</i><br />

    <br />
    <h2>Pracovní zkušenosti</h2>

    2016 – současnost<br />
    <b>Asseco Central Europe, a.s.</b>
    <p>Junior GIS analytik - Implementace a administrace produktu LIDS. Správa databází, tvorba databázových skriptů,
    správá a support ZABAGED a Portálu územního plánování Olomouckého kraje. Tvorba skriptů a pluginů v prostředí QGIS v jazyce Python</p>

    2016 – 2017<br />
    <b>Czech Globe | Ústav výzkumu globální změny AV ČR, v.v.i.</b>
    <p>Tvorba automatizačních a editačních skriptů pro letecké snímky v jazyce Python (knihovny GDAL, PIL, numpy, spectral python)</p>

    2016 – 2015<br />
    <b>Centrum dopravního výzkumu, v.v.i.</b>
    <p>Editace silniční sítě na základě leteckých snímků. Práce v programu ArcMap - editace silniční sítě
    na základě starých leteckých snímků</p>

    2014 – 2015<br />
    <b>Ekotoxa, a.s.</b>
    <p class="centered">Editace prostorových dat</p>

    2014 – 2015<br />
    <b>Výzkumný ústav Silva Taroucy pro krajinu a okrasné zahradnictví, v.v.i.</b>
    <p class="centered">Práce v programu ArcMap (editace dat a jejich analýza)</p>

    2011 – 2015<br />
    <b>Spur, a.s.</b>
    <p class="centered">Dělník ve výrobě</p>

    <h2>Znalosti a dovednosti</h2>
    <p class="left">Odborné dovednosti:</p>
    <ul>
        <li>Dobrá znalost GIS softwaru (ArcMap, QGIS, SAGA GIS, OpenJump) + tvorba pluginů a skriptů pro QGIS.</li>
        <li>Dobrá znalost jazyka Python a základní znalost HTML, CSS, PHP, Javascriptu a Javy.</li>
        <li>Znalost verzovacího systému Git a každodenní zkušenost s prací v prostredí Linuxu.</li>
        <li>Velmi dobrá znalost databáze PostgreSQL (a prostorového rozšíření PostGIS), MySQL a Oracle včetně jazyka pl/sql.</li>
        <li>Znalost práce v grafických softwarech Photoshop, Inkscape.</li>
    </ul>

    <p class="left">Cizí jazyky:</p>
    <ul>
        <li>Anglický jazyk (úroveň B2),</li>
        <li>Španělský jazyk (úroveň A2).</li>
    </ul>
{% endblock %}