<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Petr Šilhák | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'info/css/main.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'info/css/bootstrap.min.css' %}">
    <script src="{% static 'info/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="bio" class="col-sm-3">
            <div id="navbar" class="col-sm-12">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about me' %}">About Me</a></li>
                    <!--This should be portofolio, it is because of Ostrava bio-->
                    <li><a href="{% url 'portfolio' %}">Bio</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
            {% block side-info %}{% endblock %}
        </div>
        <div id="content" class="col-sm-9">
            <div id="middle" class="col-sm-12">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-12" id="footer">
                <hr />
                <p>© Copyright 2017, Petr Šilhák | <a href="mailto:petrsilhak@hotmail.com">petrsilhak@hotmail.com</a> | Thanks to Neil Hainsworth for <a href="https://github.com/neilorangepeel/Free-Social-Icons">Social icons</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>