{% extends 'info/base.html' %}
{% load staticfiles %}

{% block title %}Contact me{% endblock %}

{% block content %}
<span class="page-title">Write me a message</span>
    <p>If you want to get me in touch you can send me a message via form. I will try to write you back as soon as possible.</p>
<form method="post">
    {% csrf_token %}
    <div id="contact-form" class="col-sm-8">
        <div class="row">
            {{ form.from_email.label_tag }}
            {{ form.from_email }}
        </div>
        <div class="row">
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
    </div>

    {{ form.message.label_tag }}
    {{ form.message }}
    <button type="submit" class="send-button">Send a message</button>
</form>
{% endblock %}

{% block side-info %}
<div id="about-bulva" class="col-sm-12">
    <img src="{% static 'info/images/profile_photo.png' %}" alt="My profile photo" style="width: 140px;">
    <h5>Petr Šilhák</h5>
    <a href=""><img src="{% static 'info/images/icons/mail.svg' %}" alt="Mail icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/linkedin.svg' %}" alt="LinkedIn icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/github.svg' %}" alt="GitHub icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/stackoverflow.svg' %}" alt="Stackoverflow icon" class="icon" /></a>
    <a href=""><img src="{% static 'info/images/icons/skype.svg' %}" alt="Skype icon" class="icon" /></a>
</div>
<div id="quote" class="col-sm-12">
    <p class="quote">“Always code as if the guy who ends up <br />
    maintaining your code will be <br />
    a violent psychopath<br /> who knows where you live”<br /></p>
    <p class="quote-author">John F. Woods</p>
</div>
{% endblock %}